lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
g4blout/
root/
*.root
WD/
*.d
*.so
.DS_Store
log
er.log
quick_test.C
test.C
*.png
*.heprep
*.gdd
generated_scripts/
output_from_hep_batch/